* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: cadetblue;
}
header {
    margin-bottom: 16px;
    padding: 24px;
    background-color: aqua;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 360px;
    margin: auto;
}

h1{
    color: rgb(255, 252, 209)
}

hr {
    width: 400px;
    margin: 13px auto 5px auto;

}

fieldset {
    width: 400px;
    border-color: rgb(0, 41, 41);
    border-radius: 5px;
    background-color: aqua;
    color: darkslategray;
    margin: auto;
}

div {
    background-color: aqua;
    width: 400px;
    margin: auto;
    border-radius: 10px;
    align-items: center;
}

input {
    background-color:rgb(255, 252, 209);
    border: none;
    margin: 15px;
    border-radius: 3px ;
    width: 350px;
}


button{
    background-color: rgb(5, 172, 135);
    color: rgb(255, 252, 209);
    margin: 24px auto 24px auto;
    cursor: pointer;
    align-items: center;
    display: flex;
}

button:hover{
    background-color: rgb(3, 219, 75);
}